<ActionBar class="action-bar">

</ActionBar>

<GridLayout columns="*,*,*,*" rows="*,*,*,*,*">
    
    <Image 
        class="avatar-image m-l-15"
        src="{{userPhotoUrl}}"
        row="0"
        col="0"
        width="50"
        height="50" 
        borderRadius="25"
        horizontalAlignment="left"
    ></Image>
    
    <TextView
        #tagTextInput
        [(ngModel)]="tagText"
        col="1"
        row="0"
        colSpan="3"
        rowSpan="3"
        class="text-view-input m-t-25"
        hint="What's on your mind?"  
        returnKeyType="send" 
    ></TextView>
    
    <Button 
        row="4"
        colSpan="4"
        class="btn btn-primary" 
        id="button" 
        text="Publish"
        (tap)="onPublish()"
    ></Button>

</GridLayout>