<ListView height="100%" [items]="_following" class="list-group">
    <ng-template let-user="item">
        <GridLayout columns="*,*,*,*,*" rows="*,*" class="list-group-item" (tap)="onFollowingItemTap(user.id)">
            <Image row="0" rowSpan="2" col="0" src="{{user.photoURL}}" horizontalAlignment="left" stretch="aspectFill" 
                width="50" height="50" borderRadius="25" class="userAvatar">
            </Image>
            <Label row="0" col="1" colSpan="3" [text]="user.displayName" color="#45485e"></Label>
            <Label row="1" col="1" colSpan="3" [text]="user.handle" color="gray"></Label>
        </GridLayout>
    </ng-template>
</ListView>
