<ActionBar class="action-bar">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Profile"></Label>
</ActionBar>

<!-- 
<GridLayout class="page page-content">
    <Label class="page-icon fa" text="&#xf1ea;"></Label>
    <Label class="page-placeholder" text="Page content goes here"></Label>
</GridLayout> 
-->

<GridLayout>
    <ScrollView class="page">
        <StackLayout>
            <GridLayout rows="175" columns="*,2*,*" class="avatar-background">
                <StackLayout row="0" col="1" verticalAlignment="center">
                    <Image src="https://media.licdn.com/dms/image/C4E03AQHwKvz-H5w3Kg/profile-displayphoto-shrink_200_200/0?e=1545868800&v=beta&t=W9DhNRUfM9KnimnzFx7yOiv95-ZaZBjmuPXk6zwgnsI"
                        horizontalAlignment="center" width="100" borderRadius="50"></Image>
                    <Label class="h2" [text]="fullName" textWrap="true" horizontalAlignment="center" color="white"></Label>
                    <Label class="h4" [text]="username" textWrap="true" horizontalAlignment="center" color="white"></Label>
                </StackLayout>
            </GridLayout>
            
            <GridLayout columns="*,*,*" [tags]="numTags" class="p-l-20 p-r-20 p-t-15 p-b-15" backgroundColor="PowderBlue">
                    <Label row="0" col="0" text="&#xf5bd; tags {{numTags}}" class="fas"></Label>
                    <Label row="0" col="1" text="&#xf06e; following {{numFollowing}}" class="fas"></Label>
                    <Label row="0" col="2" text="&#xf0c0; followers {{numFollowers}}" class="fas"></Label>
            </GridLayout>
            
            <StackLayout verticalAlignment="center">
                <Label class="h3 p-l-20 p-r-20 p-t-15 p-b-15" [text]="signature" textWrap="true" horizontalAlignment="center"></Label>
            </StackLayout>

            <TabView height="800px">
                    <StackLayout *tabItem="{title: 'Activities'}" >
                        <Activities></Activities>
                    </StackLayout>
                    <StackLayout *tabItem="{title: 'Tags'}">
                        <Tags></Tags>
                    </StackLayout>
                    <StackLayout *tabItem="{title: 'Friends'}">
                        <Friends></Friends>
                    </StackLayout>
            </TabView>

        </StackLayout>
    </ScrollView>
</GridLayout>
