<ActionBar class="action-bar">
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <Label class="action-bar-title" text="Profile"></Label>
</ActionBar>

<StackLayout class="page page-content">

        <StackLayout verticalAlignment="center" class="avatar-background">
            <app-avatar [photoURL]="photoURL"></app-avatar>
            <Label class="h3" [text]="displayName" textWrap="true" horizontalAlignment="center" color="white"></Label>
            <Label class="h4" [text]="userEmail" textWrap="true" horizontalAlignment="center" color="white"></Label>
        </StackLayout>

        <StackLayout>
            <Label class="h3 p-l-20 p-r-20 p-t-15 p-b-15" [text]="signature" textWrap="true" horizontalAlignment="center"></Label>
        </StackLayout>

       <StackLayout>
            <TabView #tabView androidSelectedTabHighlightColor="#f16652">
                <StackLayout *tabItem="{title: 'Tags'}">
                    <Activities></Activities>
                </StackLayout>
                <StackLayout *tabItem="{title: 'Following'}">
                    <Following [following]="following"></Following>
                </StackLayout>
                <StackLayout *tabItem="{title: 'Followers'}">
                    <Followers [followers]="followers"></Followers>
                </StackLayout>
            </TabView>
       </StackLayout>

</StackLayout>
<app-edit-profile-fab *ngIf="currentUserProfile"></app-edit-profile-fab>  


