
<!-- <Button (tap)="doThis()" #btna icon="res://ic_video_white_24dp" class="speed-button" row="0"></Button>
<Image (tap)="doThis()" #btnb src="res://ic_file_image_white_24dp" class="speed-button" row="0"></Image>
<Image (tap)="doThis()" #btnc src="res://ic_format_text_white_24dp" class="speed-button" row="0"></Image> -->
<!-- <Image (tap)="doThis()" #btnd src="res://ic_format_text_white_24dp" class="speed-button" row="0"></Image>
 -->

<FAB #btnd icon="res://ic_augmented_reality_1" class="speed-button" row="0"></FAB>
<FAB #btnc icon="res://ic_video_white_24dp" class="speed-button" row="0"></FAB>
<FAB #btnb icon="res://ic_file_image_white_24dp" class="speed-button" row="0"></FAB>
<FAB #btna icon="res://ic_format_text_white_24dp" class="speed-button" row="0"></FAB>
<FAB #fab (tap)="fabTap(fab)" icon="res://ic_spray_white_24dp" rippleColor="#f1f1f1" class="fab-button" row="0"></FAB>
