<ScrollView>
	<StackLayout backgroundColor="white">
		<WrapLayout orientation="horizontal">
			<Image 
				class="avatar-image m-l-15 m-t-15"
				src="{{userPhotoUrl}}"
				row="0"
				col="0"
				width="50"
				height="50" 
				borderRadius="25"
				horizontalAlignment="left"
				(tap)="onFilterButtonTap()"
			></Image>

			<Label 
				*ngIf="tagGroup"
				col="1"
				colSpan="3"
				row="0"
				class="m-t-25 m-l-15"
				fontSize="10"
				text="{{tagGroup.name}}" 
				textWrap="true"
			></Label>
		</WrapLayout>

		<PaintPad
			#PaintPad
			canvasColor="white"
			margin="10"
			width="320"
			height="230"
			[drawColor]="drawColor"
			[drawWidth]="drawWidth"
			[drawOpacity]="drawOpacity"
		></PaintPad>

		<GridLayout padding="10" rows="auto" columns="auto, *">
			<Label text="Width:" class="message" textWrap="true" row="0" col="0"></Label>
			<Label [text]="drawWidth" class="message" textWrap="true" row="0" col="1"></Label>
        </GridLayout>
        
		<Slider
			margin="10"
			backgroundColor="#ff4801"
			id="widthSlider"
			[(ngModel)]="drawWidth"
			(valueChange)="widthChange($event)"
			maxValue="50"
			minValue="1"
		></Slider>

		<GridLayout padding="10" rows="auto" columns="auto, *">
			<Label text="Opacity:" class="message" textWrap="true" row="0" col="0"></Label>
			<Label [text]="drawOpacity" class="message" textWrap="true" row="0" col="1"></Label>
		</GridLayout>
        
        <Slider
			margin="10"
			backgroundColor="#ff4801"
			id="opacitySlider"
			[(ngModel)]="drawOpacity"
			(valueChange)="opacityChange($event)"
			[maxValue]="maxOpacity"
			minValue="0"
		></Slider>
		
		<WrapLayout orientation="horizontal" horizontalAlignment="center">
			<Button text="Clear" (tap)="clearMyPainting()" class="btn btn-primary btn-rounded-sm"></Button>
			<Button text="Color" (tap)="pickColor()" class="btn btn-primary btn-rounded-sm"></Button>
			<Button text="Tag" [nsRouterLink]="['/map']" (tap)="getMyPainting()" class="btn btn-primary btn-rounded-sm"></Button>
		</WrapLayout>

	</StackLayout>
</ScrollView>