<ActionBar class="action-bar">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Groups"></Label>
</ActionBar>

<ListView [items]="groupList" class="list-group">
    <ng-template let-group="item">
        <GridLayout columns="*,*,*" rows="*,*" class="list-group-item" (tap)="onNavItemTap(group.name)">
            <Image row="0" rowSpan="2" col="0" src="{{group.photo}}" horizontalAlignment="center" stretch="aspectFill" 
                width="50" height="50" borderRadius="25" class="groupAvatar">
            </Image>
            <Label row="0" col="1" [text]="group.name" color="blue"></Label>
            <Label row="1" col="1" text="&#xf0c0; {{group.members.length}}" class="fas"></Label>
        </GridLayout>
    </ng-template>
</ListView>

<CreateGroupFab></CreateGroupFab>